Autotests/WebApiCreator/Connected Services/CabinetApi/PartnerCabinetApi1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" />
  <xs:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" />
  <xs:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model.Countries.KZ" />
  <xs:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Robox.Merchant.Interfaces.Invoice" />
  <xs:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Models" />
  <xs:complexType name="CreatePartnerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDisabledManual" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPermittedUsePromoCode" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsResident" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedSendMail" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PartnerIdentifier" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="PartnerRole" type="q1:PartnerRole" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecoveryAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecoveryQuestion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreatePartnerRequest" nillable="true" type="tns:CreatePartnerRequest" />
  <xs:complexType name="CreatePartnerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q2:RequestResult" />
      <xs:element minOccurs="0" name="WorkerId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreatePartnerResponse" nillable="true" type="tns:CreatePartnerResponse" />
  <xs:complexType name="CreateOutAccountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="OutAccountType" type="q3:OutAccountType" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="WorkerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOutAccountRequest" nillable="true" type="tns:CreateOutAccountRequest" />
  <xs:complexType name="CreateOutAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutAccountId" nillable="true" type="ser:guid" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q4:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOutAccountResponse" nillable="true" type="tns:CreateOutAccountResponse" />
  <xs:complexType name="PartnerContactSaveRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmDocGenitif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmDocProperties" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Email1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameGenitif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="PartnerId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="WorkerId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartnerContactSaveRequest" nillable="true" type="tns:PartnerContactSaveRequest" />
  <xs:complexType name="PartnerContactSaveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" type="ser:guid" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q5:RequestResult" />
      <xs:element minOccurs="0" name="WorkerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartnerContactSaveResponse" nillable="true" type="tns:PartnerContactSaveResponse" />
  <xs:complexType name="CreateShopRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminLogin" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CatalogSections" nillable="true" type="q6:ArrayOfint" />
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentAccountId" type="ser:guid" />
      <xs:element minOccurs="0" name="GoodsDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JurType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationContactId" type="ser:guid" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="PartnerRole" type="q7:PartnerRole" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="ShopOwner" type="q8:ShopOwner" />
      <xs:element minOccurs="0" name="SupportContactId" type="ser:guid" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateShopRequest" nillable="true" type="tns:CreateShopRequest" />
  <xs:complexType name="CreateShopResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MrhId" type="xs:int" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q9:RequestResult" />
      <xs:element minOccurs="0" name="ShopId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateShopResponse" nillable="true" type="tns:CreateShopResponse" />
  <xs:complexType name="CommonProfileGroupSaveRequest">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="AddressData" nillable="true" type="q10:AddressData" />
      <xs:element minOccurs="0" name="CatalogItem" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExternalAccountId" type="ser:guid" />
      <xs:element minOccurs="0" name="GoodsDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationContactId" type="ser:guid" />
      <xs:element minOccurs="0" name="ShopId" type="ser:guid" />
      <xs:element minOccurs="0" name="ShopUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportContactId" type="ser:guid" />
      <xs:element minOccurs="0" name="WorkerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonProfileGroupSaveRequest" nillable="true" type="tns:CommonProfileGroupSaveRequest" />
  <xs:complexType name="CommonProfileGroupSaveResponse">
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q11:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonProfileGroupSaveResponse" nillable="true" type="tns:CommonProfileGroupSaveResponse" />
  <xs:complexType name="SettingsProfileGroupSaveRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShopId" type="ser:guid" />
      <xs:element minOccurs="0" name="ShopUrl" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="TechSettings" nillable="true" type="q12:TechSettings" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingsProfileGroupSaveRequest" nillable="true" type="tns:SettingsProfileGroupSaveRequest" />
  <xs:complexType name="SettingsProfileGroupSaveResponse">
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q13:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingsProfileGroupSaveResponse" nillable="true" type="tns:SettingsProfileGroupSaveResponse" />
  <xs:complexType name="CreateActivationRequestRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MrhId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="Role" nillable="true" type="q14:PartnerRole" />
      <xs:element minOccurs="0" name="ShopId" type="ser:guid" />
      <xs:element minOccurs="0" name="ShopTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateActivationRequestRequest" nillable="true" type="tns:CreateActivationRequestRequest" />
  <xs:complexType name="CreateActivationRequestResponse">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q15:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateActivationRequestResponse" nillable="true" type="tns:CreateActivationRequestResponse" />
  <xs:complexType name="SendSmsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSmsRequest" nillable="true" type="tns:SendSmsRequest" />
  <xs:complexType name="SendSmsResponse">
    <xs:sequence>
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q16:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSmsResponse" nillable="true" type="tns:SendSmsResponse" />
  <xs:complexType name="CheckPartnerIdentifierExistsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckPartnerIdentifierExistsRequest" nillable="true" type="tns:CheckPartnerIdentifierExistsRequest" />
  <xs:complexType name="CheckPartnerIdentifierExistsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exists" type="xs:boolean" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q17:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckPartnerIdentifierExistsResponse" nillable="true" type="tns:CheckPartnerIdentifierExistsResponse" />
  <xs:complexType name="CheckShopIdentifierExistsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckShopIdentifierExistsRequest" nillable="true" type="tns:CheckShopIdentifierExistsRequest" />
  <xs:complexType name="CheckShopIdentifierExistsResponse">
    <xs:sequence>
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="CheckResult" nillable="true" type="q18:ShopCreateVerifyResult" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q19:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckShopIdentifierExistsResponse" nillable="true" type="tns:CheckShopIdentifierExistsResponse" />
  <xs:complexType name="StartActivationRobomarketServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="ShopId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartActivationRobomarketServiceRequest" nillable="true" type="tns:StartActivationRobomarketServiceRequest" />
  <xs:complexType name="StartActivationRobomarketServiceResponse">
    <xs:sequence>
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q20:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartActivationRobomarketServiceResponse" nillable="true" type="tns:StartActivationRobomarketServiceResponse" />
  <xs:complexType name="RobomarketProfileGroupSaveRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="RobomarketShopId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RobomarketProfileGroupSaveRequest" nillable="true" type="tns:RobomarketProfileGroupSaveRequest" />
  <xs:complexType name="RobomarketProfileGroupSaveResponse">
    <xs:sequence>
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q21:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RobomarketProfileGroupSaveResponse" nillable="true" type="tns:RobomarketProfileGroupSaveResponse" />
  <xs:complexType name="AddPartnerToRoleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="Role" type="q22:PartnerRoleToAdd" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddPartnerToRoleRequest" nillable="true" type="tns:AddPartnerToRoleRequest" />
  <xs:complexType name="AddPartnerToRoleResponse">
    <xs:sequence>
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q23:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddPartnerToRoleResponse" nillable="true" type="tns:AddPartnerToRoleResponse" />
  <xs:complexType name="LegalProfileGroupSaveRequest">
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="AddressFact" nillable="true" type="q24:AddressData" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="AddressJur" nillable="true" type="q25:AddressData" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="Contacts" nillable="true" type="q26:Contacts" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EgrRecordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="INN" nillable="true" type="xs:string" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="IndividualInfo" nillable="true" type="q27:IndividualInfo" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model.Countries.KZ" minOccurs="0" name="IndividualInfoKz" nillable="true" type="q28:IndividualInfo" />
      <xs:element minOccurs="0" name="KPP" nillable="true" type="xs:string" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model.Countries.KZ" minOccurs="0" name="LegalInfoKz" nillable="true" type="q29:LegalInfo" />
      <xs:element minOccurs="0" name="OGRN" nillable="true" type="xs:string" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="OrganizationType" type="q30:JurType" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="SignerInfo" nillable="true" type="q31:SignerInfo" />
      <xs:element minOccurs="0" name="WorkerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LegalProfileGroupSaveRequest" nillable="true" type="tns:LegalProfileGroupSaveRequest" />
  <xs:complexType name="LegalProfileGroupSaveResponse">
    <xs:sequence>
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q32:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LegalProfileGroupSaveResponse" nillable="true" type="tns:LegalProfileGroupSaveResponse" />
  <xs:complexType name="ClientSettingsProfileGroupSaveRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Display" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientSettingsProfileGroupSaveRequest" nillable="true" type="tns:ClientSettingsProfileGroupSaveRequest" />
  <xs:complexType name="ClientSettingsProfileGroupSaveResponse">
    <xs:sequence>
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q33:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientSettingsProfileGroupSaveResponse" nillable="true" type="tns:ClientSettingsProfileGroupSaveResponse" />
  <xs:complexType name="TaxAndPartnerShopSettingsProfileGroupSaveRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Robox.Merchant.Interfaces.Invoice" minOccurs="0" name="PaymentMethod" type="q34:PaymentMethod" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Robox.Merchant.Interfaces.Invoice" minOccurs="0" name="PaymentObject" type="q35:PaymentObject" />
      <xs:element minOccurs="0" name="ShopId" type="ser:guid" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Robox.Merchant.Interfaces.Invoice" minOccurs="0" name="TaxScheme" type="q36:TaxScheme" />
      <xs:element minOccurs="0" name="WorkerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxAndPartnerShopSettingsProfileGroupSaveRequest" nillable="true" type="tns:TaxAndPartnerShopSettingsProfileGroupSaveRequest" />
  <xs:complexType name="TaxAndPartnerShopSettingsProfileGroupSaveResponse">
    <xs:sequence>
      <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q37:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxAndPartnerShopSettingsProfileGroupSaveResponse" nillable="true" type="tns:TaxAndPartnerShopSettingsProfileGroupSaveResponse" />
  <xs:complexType name="PrepareActivationRequestRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="LangLetters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantId" type="xs:int" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="RoleLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ShopName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrepareActivationRequestRequest" nillable="true" type="tns:PrepareActivationRequestRequest" />
  <xs:complexType name="PrepareActivationRequestResponse">
    <xs:sequence>
      <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q38:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrepareActivationRequestResponse" nillable="true" type="tns:PrepareActivationRequestResponse" />
  <xs:complexType name="CheckBankBikExistsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIK" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckBankBikExistsRequest" nillable="true" type="tns:CheckBankBikExistsRequest" />
  <xs:complexType name="CheckBankBikExistsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrAccount" nillable="true" type="xs:string" />
      <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q39:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckBankBikExistsResponse" nillable="true" type="tns:CheckBankBikExistsResponse" />
  <xs:complexType name="UploadScanRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DocumentLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="StatusId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadScanRequest" nillable="true" type="tns:UploadScanRequest" />
  <xs:complexType name="UploadScanResponse">
    <xs:sequence>
      <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q40:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadScanResponse" nillable="true" type="tns:UploadScanResponse" />
  <xs:complexType name="GetPartnerDocumentsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPartnerDocumentsRequest" nillable="true" type="tns:GetPartnerDocumentsRequest" />
  <xs:complexType name="GetPartnerDocumentsResponse">
    <xs:sequence>
      <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Models" minOccurs="0" name="Documents" nillable="true" type="q41:ArrayOfPartnerDocument" />
      <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q42:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPartnerDocumentsResponse" nillable="true" type="tns:GetPartnerDocumentsResponse" />
  <xs:complexType name="FindShopRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MrhId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShopId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindShopRequest" nillable="true" type="tns:FindShopRequest" />
  <xs:complexType name="FindShopResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MrhId" type="xs:int" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" minOccurs="0" name="Result" nillable="true" type="q43:RequestResult" />
      <xs:element minOccurs="0" name="ShopId" type="ser:guid" />
      <xs:element minOccurs="0" name="ShopRole" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindShopResponse" nillable="true" type="tns:FindShopResponse" />
</xs:schema>