Autotests/WebApiCreator/Connected Services/CabinetApi/PartnerCabinetApi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" />
  <xs:complexType name="RequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" minOccurs="0" name="ResultCode" type="q1:PartnerApiServiceErrorCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestResult" nillable="true" type="tns:RequestResult" />
</xs:schema>