Autotests/WebApiCreator/Connected Services/CabinetApi/PartnerCabinetApi7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPartnerDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartnerDocument" nillable="true" type="tns:PartnerDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartnerDocument" nillable="true" type="tns:ArrayOfPartnerDocument" />
  <xs:complexType name="PartnerDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="ScanIsAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusId" type="xs:short" />
      <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="ValidTill" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartnerDocument" nillable="true" type="tns:PartnerDocument" />
</xs:schema>