Autotests/WebApiCreator/Connected Services/CabinetApi/PartnerCabinetApi71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Robox.Merchant.Interfaces.Invoice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Robox.Merchant.Interfaces.Invoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="PaymentMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="full_prepayment" />
      <xs:enumeration value="prepayment" />
      <xs:enumeration value="advance" />
      <xs:enumeration value="full_payment" />
      <xs:enumeration value="partial_payment" />
      <xs:enumeration value="credit" />
      <xs:enumeration value="credit_payment" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentMethod" nillable="true" type="tns:PaymentMethod" />
  <xs:simpleType name="PaymentObject">
    <xs:restriction base="xs:string">
      <xs:enumeration value="commodity" />
      <xs:enumeration value="excise" />
      <xs:enumeration value="job" />
      <xs:enumeration value="service" />
      <xs:enumeration value="gambling_bet" />
      <xs:enumeration value="gambling_prize" />
      <xs:enumeration value="lottery" />
      <xs:enumeration value="lottery_prize" />
      <xs:enumeration value="intellectual_activity" />
      <xs:enumeration value="payment" />
      <xs:enumeration value="agent_commission" />
      <xs:enumeration value="composite" />
      <xs:enumeration value="another" />
      <xs:enumeration value="property_right" />
      <xs:enumeration value="non_operating_gain" />
      <xs:enumeration value="insurance_premium" />
      <xs:enumeration value="sales_tax" />
      <xs:enumeration value="resort_fee" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentObject" nillable="true" type="tns:PaymentObject" />
  <xs:simpleType name="TaxScheme">
    <xs:restriction base="xs:string">
      <xs:enumeration value="osn" />
      <xs:enumeration value="usn_income" />
      <xs:enumeration value="usn_income_outcome" />
      <xs:enumeration value="envd" />
      <xs:enumeration value="esn" />
      <xs:enumeration value="patent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxScheme" nillable="true" type="tns:TaxScheme" />
</xs:schema>