Autotests/WebApiCreator/Connected Services/CabinetApi/PartnerCabinetApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PartnerCabinetApi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Requests" />
      <xsd:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model" />
      <xsd:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces" />
      <xsd:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Interfaces.Model.Countries.KZ" />
      <xsd:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Robox.Merchant.Interfaces.Invoice" />
      <xsd:import schemaLocation="http://cabinetapi.test.qa/PartnerCabinetApi.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Robox.PartnerCabinet.PartnerCabinetApi.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPartnerCabinetApi_CreatePartner_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePartner" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CreatePartner_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePartnerResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CreateOutAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOutAccount" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CreateOutAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOutAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_PartnerContactSave_InputMessage">
    <wsdl:part name="parameters" element="tns:PartnerContactSave" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_PartnerContactSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:PartnerContactSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CreateShop_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateShop" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CreateShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateShopResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CommonProfileGroupSave_InputMessage">
    <wsdl:part name="parameters" element="tns:CommonProfileGroupSave" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CommonProfileGroupSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommonProfileGroupSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_SettingsProfileGroupSave_InputMessage">
    <wsdl:part name="parameters" element="tns:SettingsProfileGroupSave" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_SettingsProfileGroupSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:SettingsProfileGroupSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CreateActivationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateActivationRequest" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CreateActivationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateActivationRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_SendSms_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_SendSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CheckPartnerIdentifierExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPartnerIdentifierExists" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CheckPartnerIdentifierExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPartnerIdentifierExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CheckShopIdentifierExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckShopIdentifierExists" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CheckShopIdentifierExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckShopIdentifierExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_StartActivationRobomarketService_InputMessage">
    <wsdl:part name="parameters" element="tns:StartActivationRobomarketService" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_StartActivationRobomarketService_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartActivationRobomarketServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_RobomarketProfileGroupSave_InputMessage">
    <wsdl:part name="parameters" element="tns:RobomarketProfileGroupSave" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_RobomarketProfileGroupSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:RobomarketProfileGroupSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_AddPartnerToRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPartnerToRole" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_AddPartnerToRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPartnerToRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_LegalProfileGroupSave_InputMessage">
    <wsdl:part name="parameters" element="tns:LegalProfileGroupSave" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_LegalProfileGroupSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:LegalProfileGroupSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_ClientSettingsProfileGroupSave_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientSettingsProfileGroupSave" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_ClientSettingsProfileGroupSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientSettingsProfileGroupSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_TaxAndPartnerShopSettingsProfileGroupSave_InputMessage">
    <wsdl:part name="parameters" element="tns:TaxAndPartnerShopSettingsProfileGroupSave" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_TaxAndPartnerShopSettingsProfileGroupSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaxAndPartnerShopSettingsProfileGroupSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_PrepareActivationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PrepareActivationRequest" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_PrepareActivationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrepareActivationRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CheckBankBikExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckBankBikExists" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_CheckBankBikExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckBankBikExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_UploadScan_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadScan" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_UploadScan_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadScanResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_GetPartnerDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerDocuments" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_GetPartnerDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_FindShop_InputMessage">
    <wsdl:part name="parameters" element="tns:FindShop" />
  </wsdl:message>
  <wsdl:message name="IPartnerCabinetApi_FindShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindShopResponse" />
  </wsdl:message>
  <wsdl:portType name="IPartnerCabinetApi">
    <wsdl:operation name="CreatePartner">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CreatePartner" message="tns:IPartnerCabinetApi_CreatePartner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CreatePartnerResponse" message="tns:IPartnerCabinetApi_CreatePartner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOutAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CreateOutAccount" message="tns:IPartnerCabinetApi_CreateOutAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CreateOutAccountResponse" message="tns:IPartnerCabinetApi_CreateOutAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PartnerContactSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/PartnerContactSave" message="tns:IPartnerCabinetApi_PartnerContactSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/PartnerContactSaveResponse" message="tns:IPartnerCabinetApi_PartnerContactSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CreateShop" message="tns:IPartnerCabinetApi_CreateShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CreateShopResponse" message="tns:IPartnerCabinetApi_CreateShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommonProfileGroupSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CommonProfileGroupSave" message="tns:IPartnerCabinetApi_CommonProfileGroupSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CommonProfileGroupSaveResponse" message="tns:IPartnerCabinetApi_CommonProfileGroupSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SettingsProfileGroupSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/SettingsProfileGroupSave" message="tns:IPartnerCabinetApi_SettingsProfileGroupSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/SettingsProfileGroupSaveResponse" message="tns:IPartnerCabinetApi_SettingsProfileGroupSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateActivationRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CreateActivationRequest" message="tns:IPartnerCabinetApi_CreateActivationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CreateActivationRequestResponse" message="tns:IPartnerCabinetApi_CreateActivationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/SendSms" message="tns:IPartnerCabinetApi_SendSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/SendSmsResponse" message="tns:IPartnerCabinetApi_SendSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPartnerIdentifierExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CheckPartnerIdentifierExists" message="tns:IPartnerCabinetApi_CheckPartnerIdentifierExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CheckPartnerIdentifierExistsResponse" message="tns:IPartnerCabinetApi_CheckPartnerIdentifierExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckShopIdentifierExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CheckShopIdentifierExists" message="tns:IPartnerCabinetApi_CheckShopIdentifierExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CheckShopIdentifierExistsResponse" message="tns:IPartnerCabinetApi_CheckShopIdentifierExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartActivationRobomarketService">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/StartActivationRobomarketService" message="tns:IPartnerCabinetApi_StartActivationRobomarketService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/StartActivationRobomarketServiceResponse" message="tns:IPartnerCabinetApi_StartActivationRobomarketService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RobomarketProfileGroupSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/RobomarketProfileGroupSave" message="tns:IPartnerCabinetApi_RobomarketProfileGroupSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/RobomarketProfileGroupSaveResponse" message="tns:IPartnerCabinetApi_RobomarketProfileGroupSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPartnerToRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/AddPartnerToRole" message="tns:IPartnerCabinetApi_AddPartnerToRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/AddPartnerToRoleResponse" message="tns:IPartnerCabinetApi_AddPartnerToRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LegalProfileGroupSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/LegalProfileGroupSave" message="tns:IPartnerCabinetApi_LegalProfileGroupSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/LegalProfileGroupSaveResponse" message="tns:IPartnerCabinetApi_LegalProfileGroupSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientSettingsProfileGroupSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/ClientSettingsProfileGroupSave" message="tns:IPartnerCabinetApi_ClientSettingsProfileGroupSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/ClientSettingsProfileGroupSaveResponse" message="tns:IPartnerCabinetApi_ClientSettingsProfileGroupSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaxAndPartnerShopSettingsProfileGroupSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/TaxAndPartnerShopSettingsProfileGroupSave" message="tns:IPartnerCabinetApi_TaxAndPartnerShopSettingsProfileGroupSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/TaxAndPartnerShopSettingsProfileGroupSaveResponse" message="tns:IPartnerCabinetApi_TaxAndPartnerShopSettingsProfileGroupSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrepareActivationRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/PrepareActivationRequest" message="tns:IPartnerCabinetApi_PrepareActivationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/PrepareActivationRequestResponse" message="tns:IPartnerCabinetApi_PrepareActivationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckBankBikExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CheckBankBikExists" message="tns:IPartnerCabinetApi_CheckBankBikExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/CheckBankBikExistsResponse" message="tns:IPartnerCabinetApi_CheckBankBikExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadScan">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/UploadScan" message="tns:IPartnerCabinetApi_UploadScan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/UploadScanResponse" message="tns:IPartnerCabinetApi_UploadScan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/GetPartnerDocuments" message="tns:IPartnerCabinetApi_GetPartnerDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/GetPartnerDocumentsResponse" message="tns:IPartnerCabinetApi_GetPartnerDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerCabinetApi/FindShop" message="tns:IPartnerCabinetApi_FindShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerCabinetApi/FindShopResponse" message="tns:IPartnerCabinetApi_FindShop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPartnerCabinetApi" type="tns:IPartnerCabinetApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePartner">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/CreatePartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOutAccount">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/CreateOutAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartnerContactSave">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/PartnerContactSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateShop">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/CreateShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommonProfileGroupSave">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/CommonProfileGroupSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SettingsProfileGroupSave">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/SettingsProfileGroupSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateActivationRequest">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/CreateActivationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPartnerIdentifierExists">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/CheckPartnerIdentifierExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckShopIdentifierExists">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/CheckShopIdentifierExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartActivationRobomarketService">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/StartActivationRobomarketService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RobomarketProfileGroupSave">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/RobomarketProfileGroupSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPartnerToRole">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/AddPartnerToRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LegalProfileGroupSave">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/LegalProfileGroupSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientSettingsProfileGroupSave">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/ClientSettingsProfileGroupSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaxAndPartnerShopSettingsProfileGroupSave">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/TaxAndPartnerShopSettingsProfileGroupSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareActivationRequest">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/PrepareActivationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckBankBikExists">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/CheckBankBikExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadScan">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/UploadScan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerDocuments">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/GetPartnerDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindShop">
      <soap:operation soapAction="http://tempuri.org/IPartnerCabinetApi/FindShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartnerCabinetApi">
    <wsdl:port name="BasicHttpBinding_IPartnerCabinetApi" binding="tns:BasicHttpBinding_IPartnerCabinetApi">
      <soap:address location="http://cabinetapi.test.qa/PartnerCabinetApi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>